.controls__left{
    right: 0;
    top: 54vh;
    text-align: left;

}

.controls__right{
    right: 0;
    bottom: 32vh;
    text-align: left;
}

.controls{
    position: absolute;
    width: 30vw;
    right: 50vw;
    list-style-type: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;

    margin-bottom: 1em;
}

li{
    margin-bottom: .5rem;
}
div{
    text-decoration: underline;
}